/* 全体 */
body
{
    background-image: url("../png/Background.png");
    font            : 200% "Terminal",monospace;
    margin          : 0;
    padding         : 0;
    text-align      : center;        
}
/* ヘッダー＆フッター */
header,footer
{
    background-color: rgba(0,0,0,0.9);
    position        : fixed;
    width           : 100%;
}
header {top   : 0;  color: #00c000;}
footer {bottom: 0;  color: #fff;}
/* コンテンツ */
#contents_area
{
    margin: 0 auto;  
    overflow: auto;         /* スクロールする範囲を制御 */
    padding: 100px 0 100px; /* コンテンツ上下にスペース */
    width: 80%;
}